

<div class="container126">
	<div class="space">
	<p class="notice"><%= notice %></p>
	<div class="row">
		<div class="col-xs-3">

			<h3 class="user_info">User info</h3>
			<!-- プロフィール写真の処理を行う-->


			 <tr><%= attachment_image_tag @user, :profile_image, size: "100x100", format: 'jpeg', class: "img-circle",  fallback: "no_image.jpg" %></tr>


            <table class="table">
				<tbody>
					<tr>
						<th>name</th>
						<th><%=@user.name %></th>
					</tr>

					<tr>
						<th>introduction</th>
						<th><%=@user.introduction %></th>
					</tr>

					<%# if @user.id==current_user.id %>
					<%#=link_to edit_user_path(@user.id),class:"btn btn-default btn-lg btn-block glyphicon glyphicon-wrench btn-block" %>
					<%# end %>
				</tbody>
			</table>

			<%# if @user.id==current_user.id %>
					<%=link_to edit_user_path(@user.id),class:"btn btn-default  btn-block" do %>
					<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
					<%# end %>
					<% end %>


			<!-- ボタンの処理-->

			<h3 class="new_book">New book</h3>
			<%=form_for(Book.new) do |f| %>

			<h4>Title</h4>
			<%=f.text_field :title,class:"btn-block" %>

			<h4>Opinion</h4>
			<%=f.text_area :body,class:"btn-block" %>

			<%=f.submit "Create Book",class: "btn  btn-primary btn-block" %>
			<% end %>
		</div>

		<div class="col-xs-9">

			<h3>Book detail</h3>
			<table class="table table-hover table-invrese">
				<thead>
					<tr>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					<tr>
					  <td><%=link_to user_path(@user.id) do %>
					  	  <%=attachment_image_tag @book.user, :profile_image, size: "40x40", format: 'jpeg', class: "img-circle", fallback: "no_image.jpg" %><br>
					  	  <%=link_to @user.name,user_path(@user.id) %>
					  	  <% end %>
					  </td>
					  <td>
						  <%=link_to @book.title, book_path(@book.id) %>
					  </td>
					  <td>
						  <%=@book.body %>
					  </td>
					  <td>
					  	<% if @user.id==current_user.id %>
					      <span class="button20"><%=link_to "Edit" , edit_book_path(@book.id),class:"btn btn-success btn-sm" %></span>
					      <span class="abc"><%=link_to "Destroy" , book_path(@book.id), method: :delete,"data-confirm"=>"本当に削除しますか?",class:"btn btn-danger btn-sm" %></span>
					      <% end %>
					  </td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
 </div>
</div>




